@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  margin: 0;
  padding: 0;
  /* outline: 0; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.4))), url(./pics/header2.jpg);
  background: linear-gradient(rgba(24, 24, 24, 0.4) rgba(0, 0, 0, 0)), url(./pics/header2.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .heading {
  font-family: "Mulish", sans-serif;
  position: absolute;
  top: 56%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fbff00;
  font-size: 20px;
  z-index: 10;
}

header .heading h1 {
  word-spacing: 3px;
  font-size: 45px;
  line-height: 65px;
}

header .heading p {
  color: #fff;
  text-align: start;
  padding-top: 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 8vh;
  background-color: #5d5deb;
  background-color: #6a6aca;
  font-family: "Raleway", sans-serif;
}

.housee {
  font-size: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3px;
  position: absolute;
  left: 10px;
}

.housee a {
  text-decoration: none;
  color: #ffffff;
}

.housee a img {
  width: 70px;
  margin-top: 9px;
  margin-left: 30px;
}

.housee a:hover {
  color: grey;
}

.links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0px;
  position: absolute;
  right: 250px;
  z-index: 99;
}

.links li {
  text-decoration: none;
  float: right;
  padding: 22px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.links li a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: "Raleway", sans-serif;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  font-size: 17px;
}

.links li:hover {
  background-color: #9d9de9;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f0f0f0;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn {
  margin-bottom: 62px;
}

.btn button {
  margin-top: 12px;
  margin-right: 10px;
  float: right;
  padding: 10px 20px;
  border: 0px;
  border-radius: 5px;
  position: absolute;
  right: 1px;
  background-color: #fbff00;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  outline: none;
  cursor: pointer;
  z-index: 923;
}

.btn button:hover {
  background-color: #fff;
  color: #000;
}

.btn button a {
  text-decoration: none;
  word-spacing: 2px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #616161;
}

@media screen and (max-width: 868px) {
  body {
    overflow-x: hidden;
  }
  .btn button {
    margin-right: 60px;
  }
  .links {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.9s ease;
    transition: -webkit-transform 0.9s ease;
    transition: transform 0.9s ease;
    transition: transform 0.9s ease, -webkit-transform 0.9s ease;
    opacity: 0;
  }
  .links li {
    opacity: 0;
  }
  .links a {
    font-size: 16px;
  }
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  header .heading h1 {
    font-size: 20px;
    line-height: 30px;
    width: 140%;
    margin: auto;
    position: relative;
    bottom: 80px;
    right: 20px;
  }
  header .heading p {
    font-size: 11px;
    width: 130%;
    position: relative;
    bottom: 70px;
    right: 20px;
  }
  header #search {
    display: none;
  }
  header nav {
    height: 5vh;
  }
  header nav .burger .line1,
  header nav .burger .line2,
  header nav .burger .line3 {
    width: 25px;
    height: 1px;
  }
  header nav .housee a img {
    width: 40px;
    margin-left: 0px;
    padding: 0px;
  }
  header .btn button {
    padding: 5px 10px;
    margin-top: 17px;
    margin-right: 65px;
  }
  header .btn button a {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header .heading h1 {
    font-size: 40px;
    line-height: 50px;
    width: 100%;
    margin: auto;
    position: relative;
    bottom: 80px;
    right: 0px;
  }
  header .heading p {
    font-size: 19px;
    width: 100%;
    position: relative;
    bottom: 70px;
    right: 0px;
  }
  header #search {
    width: 300px;
    height: 45px;
    position: relative;
    top: 590px;
    left: 30px;
  }
  header nav {
    height: 5vh;
  }
  header nav .burger .line1,
  header nav .burger .line2,
  header nav .burger .line3 {
    width: 25px;
    height: 1px;
  }
  header nav .housee a img {
    width: 40px;
    margin-left: 0px;
    padding: 0px;
  }
  header .btn button {
    padding: 5px 10px;
    margin-top: 17px;
    margin-right: 65px;
  }
  header .btn button a {
    font-size: 10px;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  header #search {
    width: 230px;
    height: 35px;
    position: relative;
    top: 340px;
    left: 20px;
  }
}

@media (min-width: 411px) and (max-width: 823px) {
  header #search {
    width: 230px;
    height: 35px;
    position: relative;
    top: 420px;
    left: 20px;
  }
}

@media (min-width: 375px) and (max-width: 812px) {
  header #search {
    position: relative;
    top: 420px;
    left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header #search {
    width: 290px;
    height: 35px;
    position: relative;
    top: 580px;
    left: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1336px) {
  header #search {
    width: 390px;
    height: 35px;
    position: relative;
    top: 780px;
    left: 20px;
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .mmm .mk {
    width: 220px;
    height: 44vh;
  }
  .mmm .mk h1 {
    font-size: 29px;
  }
  .mmm .mk #signin:checked ~ #wrapper {
    height: 74px;
  }
  .mmm .mk #signup:checked ~ #wrapper {
    height: 120px;
  }
  .mmm .mk label {
    font-size: 12px;
  }
  .mmm .mk input[type="text"],
  .mmm .mk input[type="password"] {
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
    height: 22px;
    width: 39.5%;
    margin-bottom: 10px;
    opacity: 1;
    text-indent: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
  }
  .mmm .mk button {
    font-size: 20px;
    height: 30px;
    width: 40%;
    padding-bottom: 60px;
  }
}

@media (min-width: 280px) and (max-width: 653px) {
  header nav .btn {
    display: none;
  }
  header #search {
    width: 190px;
    height: 35px;
    position: relative;
    top: 550px;
    left: 20px;
  }
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-right: 0px;
  background-color: #8585ff;
  opacity: 1;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* burger menu: bars => X */
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 7px);
          transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
          transform: rotate(45deg) translate(-5px, -7px);
}

#search {
  width: 400px;
  height: 50px;
  background: #3b8bc0;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  top: 550px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#search img {
  height: 60%;
  top: 20%;
  position: absolute;
  right: 20px;
  -webkit-filter: invert(1) brightness(10);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#search img:hover {
  -webkit-filter: invert(1);
}

#search input {
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  color: #fff;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2;
  font-size: 20px;
  font-weight: 100;
}

#search input:focus {
  outline: none;
  background: #a6c7dd;
}

#search:hover {
  background: #237db9;
}

#search.open {
  width: 500px;
  color: #fff;
}

.hover {
  margin: 0px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

.hover .box {
  height: 50vh;
  border: 1px solid rgba(128, 128, 128, 0.349);
  border-right-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-ends;
      -ms-flex-align: flex-ends;
          align-items: flex-ends;
  font-size: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.hover .box .cnt {
  margin-bottom: 50px;
  margin-left: 30px;
}

.hover .box .cnt i {
  margin: 40px 5px;
  font-size: 44px;
}

.hover .box .cnt h6 {
  font-size: 24px;
}

.hover .box .cnt p {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 90px;
}

.hover .box .cnt a {
  font-size: 17px;
  text-decoration: none;
}

.hover .box:hover {
  background-color: #6a6aca;
  border: none;
  color: #fff;
}

.hover .box:hover a {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hover .box:hover a:hover {
  font-size: 18px;
}

.hover .boxb {
  border-right: 1px solid rgba(0, 128, 0, 0.205);
}

@media screen and (max-width: 1350px) {
  .hover {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 66%;
  }
  .hover .box {
    height: 45vh;
  }
  .hover .boxbb {
    border-right: 1px solid rgba(0, 128, 0, 0.205);
    border-bottom: none;
  }
  .hover .box1 {
    border-bottom: none;
  }
}

@media screen and (max-width: 900px) {
  .hover {
    width: 90%;
  }
  .hover .box {
    height: 40vh;
    width: 100%;
  }
  .hover .box .cnt {
    margin-bottom: 0;
  }
  .hover .box .cnt i {
    margin-left: 30px;
    font-size: 45px;
  }
  .hover .box .cnt h6 {
    font-size: 20px;
  }
  .hover .box .cnt p {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .hover .box .cnt a {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .hover .box {
    height: 33vh;
    width: 100%;
  }
  .hover .box .cnt {
    margin-bottom: 0;
    width: 140%;
  }
  .hover .box .cnt i {
    margin-left: 0px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .hover .box .cnt h6 {
    font-size: 14px;
  }
  .hover .box .cnt p {
    font-size: 13px;
    margin-bottom: 0px;
  }
  .hover .box .cnt a {
    margin: 0px;
    font-size: 12px;
  }
}

.title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.title .title1 {
  font-size: 36px;
  margin-top: 30px;
}

.title .logo svg {
  height: 60px;
}

.container > div:nth-child(s) {
  background-color: #ddd;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 300px;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  font-family: "Rubik", sans-serif;
}

.container .iem1 {
  border: 1px solid rgba(0, 78, 0, 0.205);
  grid-row: row 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container .iem1 .pix {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.container .iem1 .pix img {
  width: 100%;
}

.container .iem1 .info1 {
  border-bottom: 1px solid rgba(0, 78, 0, 0.205);
  border-right: 1px solid rgba(0, 78, 0, 0.205);
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
}

.container .iem1 .info2 {
  border-right: none;
}

.container .iem1 .detail1 {
  padding: 25px 10px;
  min-height: 10vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  border-bottom: 1px solid rgba(0, 78, 0, 0.205);
}

.container .iem1 .detail1 .para h6 {
  font-size: 19px;
}

.container .iem1 .detail1 .para .space {
  margin: 5px 0 25px 0;
}

.container .iem1 .detail1 .para p {
  font-size: 14px;
  margin: 5px 0px;
}

.container .iem1 .mny {
  height: 5vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
}

.container .iem1 .mny .mn1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr;
  border-bottom: 1px solid rgba(0, 78, 0, 0.205);
}

.container .iem1 .mny .mn1 .money {
  height: 5vh;
  border-right: 1px solid rgba(0, 78, 0, 0.205);
}

.container .iem1 .mny .mn1 .money a {
  color: #131313;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .iem1 .mny .mn1 .money a:hover {
  font-size: 18px;
  color: red;
}

.container .iem1 .mny .mn1 .moneyi {
  border-right: none;
}

.container .iem1 .see {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  height: 6vh;
  text-align: center;
  vertical-align: middle;
  line-height: 6vh;
  background-color: whitesmoke;
  cursor: pointer;
}

.container .iem1 .see h5 a {
  text-decoration: none;
  margin-right: 4px;
}

.container .iem1 .see h5 i {
  font-size: 14px;
}

.container .iem1 .see:hover {
  background-color: #8585ff;
  border: none;
  color: #fff;
}

.container .iem1 .see:hover a {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .iem1 .see:hover a:hover {
  font-size: 18px;
}

@media screen and (max-width: 950px) {
  .container {
    display: block;
  }
  .container .iem1 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    font-size: 12px;
  }
  .container .iem .iem1 .info1 {
    font-size: 12px;
  }
  .container .iem .iem1 .detail1 .para p {
    font-size: 12px;
  }
  .container .iem .iem1 .detail1 .para h6 {
    font-size: 15px;
  }
  .container .iem .iem1 .see i {
    font-size: 10px;
  }
}

.main {
  background-image: url(./pics/bk.png);
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.about {
  width: 60%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.about .head {
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 300px;
}

.about .pg {
  font-size: 16px;
  color: #686868;
  text-align: center;
  line-height: 30px;
  margin-bottom: 130px;
}

.about .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .icon .icon1 {
  margin: autos;
}

.about .icon .icon1 i {
  height: 100px;
  width: 100px;
  font-size: 37px;
  background-color: #8585ff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 30.3px;
}

.about .icon .icon1 .head2 {
  padding: 30px 0px 10px 0px;
  font-size: 20px;
}

.about .icon .icon1 .head3 {
  font-size: 15px;
  color: #686868;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 200px;
}

@media screen and (max-width: 930px) {
  .main .about {
    width: 80%;
  }
  .main .head {
    font-size: 23px;
  }
  .main .pg {
    font-size: 14px;
    margin-bottom: 80px;
  }
  .main .icon .icon1 i {
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding: 16px;
  }
  .main .icon .icon1 .head2 {
    font-size: 13px;
  }
  .main .icon .icon1 .head3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 410px) {
  .main .icon {
    display: block;
  }
  .main .icon .icon1 .head3 {
    margin-bottom: 40px;
  }
  .main .pg {
    margin-bottom: 50px;
  }
}

.title2 {
  text-align: center;
}

.title2 img {
  margin-top: 200px;
  margin-bottom: 10px;
}

.title2 p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 80px;
}

.container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 000px;
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
  font-family: "Rubik", sans-serif;
}

.container2 .iem1 {
  border: 1px solid rgba(0, 78, 0, 0.205);
  grid-row: row 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container2 .iem1 .pix {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.container2 .iem1 .pix img {
  width: 100%;
}

.container2 .iem1 .info1 {
  border-bottom: 1px solid rgba(0, 78, 0, 0.205);
  border-right: 1px solid rgba(0, 78, 0, 0.205);
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
}

.container2 .iem1 .info2 {
  border-right: none;
}

.container2 .iem1 .detail1 {
  padding: 25px 10px;
  min-height: 10vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  border-bottom: 1px solid rgba(0, 78, 0, 0.205);
}

.container2 .iem1 .detail1 .para h6 {
  font-size: 19px;
}

.container2 .iem1 .detail1 .para .space {
  margin: 5px 0 25px 0;
}

.container2 .iem1 .detail1 .para p {
  font-size: 14px;
  margin: 5px 0px;
}

.container2 .iem1 .mny {
  height: 5vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
}

.container2 .iem1 .mny .mn1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr;
  border-bottom: 1px solid rgba(0, 78, 0, 0.205);
}

.container2 .iem1 .mny .mn1 .money {
  height: 5vh;
  border-right: 1px solid rgba(0, 78, 0, 0.205);
}

.container2 .iem1 .mny .mn1 .money a {
  color: #131313;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container2 .iem1 .mny .mn1 .money a:hover {
  font-size: 18px;
  color: red;
}

.container2 .iem1 .mny .mn1 .moneyi {
  border-right: none;
}

.container2 .iem1 .see {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  height: 6vh;
  text-align: center;
  vertical-align: middle;
  line-height: 6vh;
  background-color: whitesmoke;
  cursor: pointer;
}

.container2 .iem1 .see h5 a {
  text-decoration: none;
  margin-right: 4px;
}

.container2 .iem1 .see h5 i {
  font-size: 14px;
}

.container2 .iem1 .see:hover {
  background-color: #8585ff;
  border: none;
  color: #fff;
}

.container2 .iem1 .see:hover a {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container2 .iem1 .see:hover a:hover {
  font-size: 18px;
}

@media screen and (max-width: 950px) {
  .container2 {
    display: block;
  }
  .container2 .iem1 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 450px) {
  .container2 {
    font-size: 12px;
    width: 70%;
  }
  .container2 .iem .iem1 .info1 {
    font-size: 12px;
  }
  .container2 .iem .iem1 .detail1 .para p {
    font-size: 12px;
  }
  .container2 .iem .iem1 .detail1 .para h6 {
    font-size: 15px;
  }
  .container2 .iem .iem1 .see i {
    font-size: 10px;
  }
}

@media screen and (max-width: 1230px) {
  .container2 {
    width: 85%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container2 .iem1 {
    margin-bottom: 40px;
  }
}

.review {
  text-align: center;
  font-family: "Roboto", sans-serif;
  word-spacing: 3px;
  color: #fff;
  background-color: #8585ff;
}

.review .icon {
  font-size: 55px;
  padding-top: 30px;
}

.review .part1 {
  padding: 80px 0 40px 0;
  width: 50%;
  margin: auto;
  font-size: 28px;
}

.review .rev {
  text-align: center;
  color: #272727;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

.review .rev button {
  margin: 20px;
  cursor: pointer;
  height: 6vh;
  width: 100px;
  font-size: 12px;
  border: 2px solid #fff;
  background-color: #8585ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.review .rev button:hover {
  background-color: #fff;
  color: #8585ff;
}

.review .rev .two {
  font-size: 14px;
}

@media screen and (max-width: 1330px) {
  .review .part1 {
    width: 70%;
  }
}

@media screen and (max-width: 810px) {
  .review .part1 {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .review .part1 {
    width: 80%;
    font-size: 12px;
    padding-top: 60px;
  }
  .review .rev {
    font-size: 11px;
    padding-bottom: 40px;
  }
  .review .rev button {
    margin: 10px;
    height: 4vh;
    width: 60px;
    border: 1px solid #fff;
  }
  .review .rev .two {
    font-size: 8px;
  }
  .review .rev .one {
    font-size: 8px;
  }
}

.cont21 {
  min-height: 450px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.6))), url(./pics/client.jpg);
  background: linear-gradient(rgba(24, 24, 24, 0.6) rgba(0, 0, 0, 0)), url(./pics/client.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  opacity: 0.7;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  font-family: "Montserrat", sans-serif;
}

.cont21 .material {
  padding-left: 20px;
  text-align: center;
  width: 55%;
  display: block;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.cont21 .material h5 {
  color: white;
  word-spacing: 3px;
  letter-spacing: 1px;
  padding: 70px 0 20px 0;
}

.cont21 .material h1 {
  color: #b1afaf;
  padding-bottom: 40px;
  font-size: 45px;
  letter-spacing: 3px;
}

.cont21 .material p {
  line-height: 23px;
  color: white;
}

.cont21 .material p i {
  padding: 5px;
}

.cont21 .material h6 {
  color: white;
  padding: 20px;
  font-size: 14px;
}

@media screen and (max-width: 568px) {
  .cont21 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 700px) {
  .cont21 .material {
    width: 100%;
  }
  .cont21 .material h5 {
    font-size: 12px;
  }
  .cont21 .material h1 {
    font-size: 20px;
    padding-bottom: 18px;
  }
  .cont21 .material p {
    font-size: 13px;
  }
  .cont21 .material h6 {
    font-size: 13px;
  }
}

.bgc {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(156, 156, 156, 0.7))), url(./pics/bg2.jpg);
  background: linear-gradient(rgba(156, 156, 156, 0.7) rgba(0, 0, 0, 0)), url(./pics/bg2.jpg);
  background-position: center;
  background-size: cover;
  height: 200vh;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.bgc form .container112 {
  max-width: 400px;
  margin: auto;
  text-align: center;
  border-radius: 6px;
  background-color: #fafafa;
}

.bgc form .container112 .head112 {
  border-radius: 0px 0px 0px 0px;
  background-color: #8585ff;
  color: #fafafa;
  border-radius: 5px 5px 0px 0px;
}

.bgc form .container112 h2 {
  text-align: center;
  padding: 18px 0 18px 0;
  font-size: 1.4em;
}

.bgc form .container112 input {
  margin-bottom: 10px;
}

.bgc form .container112 textarea {
  height: 100px;
  margin-bottom: 10px;
}

.bgc form .container112 input:first-of-type {
  margin-top: 35px;
}

.bgc form .container112 input,
.bgc form .container112 textarea {
  outline: none;
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: "Source Sans Pro", arial, sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color: #000000;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

.bgc form .container112 ::-webkit-input-placeholder {
  color: #616060;
}

.bgc form .container112 :-moz-placeholder {
  color: #fafafa;
}

.bgc form .container112 ::-moz-placeholder {
  color: #fafafa;
}

.bgc form .container112 :-ms-input-placeholder {
  color: #fafafa;
}

.bgc form .container112 .batan {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #8585ff;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #8585ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  cursor: pointer;
  width: 30%;
  color: #fff;
  outline: none;
}

.bgc form .container112 .batan:hover,
.bgc form .container112 .batan:hover {
  background: #a9a9ff;
}

.bgc form .container112 label.error {
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: 1em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d89c9c;
  width: 80%;
  margin: auto;
  color: #fafafa;
  border-radius: 6px;
}

.bgc .infoo2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(133, 133, 255, 0.6)));
  background: linear-gradient(rgba(133, 133, 255, 0.6) rgba(0, 0, 0, 0));
  margin: auto;
  height: 55vh;
  margin-right: 80px;
  font-family: "Raleway", sans-serif;
  width: 90%;
  margin: auto;
  color: #fff;
  padding: 20px;
  border-radius: 3px;
}

.bgc .infoo2 .line {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bgc .infoo2 .line img {
  height: 50px;
  margin: auto;
}

.bgc .infoo2 .line .sec2 {
  margin: auto;
  padding-left: 20px;
  line-height: 24px;
}

.bgc .infoo2 .line .sec2 .h1 {
  font-size: 18px;
}

.bgc .infoo2 .line .sec2 .parag {
  line-height: 22px;
  width: 100%;
}

.conn {
  margin-top: 200px;
}

form {
  margin-top: 200px;
}

/* media queries */
@media screen and (max-width: 568px) {
  .bgc {
    background-attachment: scroll;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .bgc {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 0px;
    height: 1200px;
  }
  .bgc #contactt {
    margin: 80px 0 0 0;
  }
  .bgc #contactt .container112 {
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 280px;
  }
  .bgc .conn {
    margin-top: 00px;
  }
  .bgc .conn .infoo2 {
    height: 95vh;
  }
  .bgc .conn .infoo2 .line {
    margin: 0px;
    width: 90%;
    margin-bottom: 50px;
    height: 120px;
  }
  .bgc .conn .infoo2 .line img {
    margin-top: 40px;
  }
  .bgc .conn .infoo2 .line .sec2 {
    font-size: 14px;
  }
  .bgc .conn .infoo2 .line .sec2 .parag {
    line-height: 24px;
  }
  .bgc .conn .infoo2 .line .sec2 .h1 {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input,
  textarea {
    width: 90%;
  }
  button {
    width: 90%;
  }
  body {
    padding-top: 10px;
  }
}

.message {
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: 1.1em;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2abca7;
  width: 80%;
  margin: auto;
  color: #fafafa;
  border-radius: 6px;
}

footer {
  background-color: #f6f6f6;
  color: #000f64;
}

footer .foot {
  display: -ms-grid;
  display: grid;
  border-bottom: 1px solid rgba(122, 122, 122, 0.308);
  padding-bottom: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 80%;
  margin: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
}

footer .foot .col {
  width: 100%;
}

footer .foot .col h2 {
  padding-top: 40px;
  margin-bottom: 20px;
  color: grey;
}

footer .foot .col .in {
  width: 240px;
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 25px;
  color: grey;
}

footer .foot .col .per1 {
  margin-bottom: 5px;
  font-size: 14px;
  color: #003cff;
}

footer .foot .col ul {
  list-style: none;
}

footer .foot .col ul li {
  padding: 0 0 8px 0;
}

footer .foot .col ul li a {
  text-decoration: none;
  font-size: 15px;
  color: grey;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

footer .foot .col ul li a:hover {
  color: #0300aa;
}

footer .foot .col .social {
  padding: 0 0 8px 0;
  font-size: 14px;
  line-height: 20px;
  color: grey;
}

footer .foot .col .social a {
  color: #003cff;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .foot .col .social a:hover {
  color: #0300aa;
}

footer .footerbtm {
  text-align: center;
}

footer .footerbtm ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerbtm ul li {
  padding: 15px;
}

footer .footerbtm ul li a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

footer .footerbtm ul li a:hover {
  color: #5a5a5a;
}

footer .footerbtm .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

footer .footerbtm .social-media a {
  text-decoration: none;
}

footer .footerbtm .social-media i {
  height: 40px;
  width: 40px;
  margin: 0px 5px;
  padding: 11px;
  color: white;
  border-radius: 10%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  float: left;
}

footer .footerbtm .social-media i:hover {
  color: black;
}

footer .footerbtm .fb i {
  background-color: #3b5998;
}

footer .footerbtm .tw i {
  background-color: #00acee;
}

footer .footerbtm .ig i {
  background-color: #dd2a7b;
}

footer .footerbtm .yt i {
  background-color: #e62117;
}

footer .footerbtm .license {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: grey;
}

footer .footerbtm .license a {
  text-decoration: none;
  color: grey;
  font-weight: 700;
}

@media (min-width: 780px) and (max-width: 960px) {
  footer .foot {
    width: 90%;
  }
  footer .foot .col .in {
    width: 100%;
  }
}

@media (min-width: 568px) and (max-width: 780px) {
  footer .foot {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  footer .foot .col .in {
    width: 200px;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  footer .foot .col h2 {
    padding-top: 0px;
    margin-bottom: 10px;
  }
  footer .foot .col1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  footer .foot .col1 h2 {
    padding-top: 20px;
  }
  footer .foot .col1 .in {
    width: 100%;
  }
  footer .foot .col2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer .foot .col3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer .foot .col4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  footer .footerbtm ul li {
    padding: 10px 4px;
  }
  footer .footerbtm ul li a {
    font-size: 16px;
  }
  footer .footerbtm .license {
    font-size: 13px;
  }
  footer .footerbtm .social-media a {
    font-size: 12px;
  }
  footer .footerbtm .social-media i {
    height: 30px;
    width: 30px;
    padding-top: 9px;
  }
}
/*# sourceMappingURL=style.css.map */